

.output-box {
  margin-top: 3rem; 
  background: red;
  color: #fff;
  height: 10rem;
  border-radius: 10px;
  border: solid 1px black;
}

.output-box h3 {
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 

  .output-box {
    margin-top: 1rem; 
    background: red;
    color: #fff;
    height: 7rem;
    border-radius: 10px;
    border: solid 1px black;
  }

  .output-box h3 {
    margin-top: 0.5rem;
    font-size: 18px;
  }
  
}