.input-box {
  border: solid 1px black;
  border-radius: 10px;
  padding-bottom: 0rem;
  background-color: white;
}

.inputs-section {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.spacer {
  color: white;
}

body {
  background-color: navy;
}